#footer.text-muted
  .hidden-xs.hidden-sm
    include menu

  p.container
    a(href="https://twitter.com/iamstarkov") @iamstarkov
    = " c любовью разработал"
    span.hidden-xs
      =", "
    br.visible-xs
    a(href="https://twitter.com/suxxes") @suxxes
    = " бережно доработал и курирует авторов"
