doctype html
html(dir="LTR" lang="ru")
  head
    include head

  body
    .wrapper
      .content
        include header
        block content
    include footer
    include gauges
    script(src="/jquery.js")
    script(src="/js/bootstrap.min.js")
    script(src="/app.js")
